@import "../styles/fonts";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "freight-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.App {
}
