@import '../styles/colors';

$sidebar-spacing: 26px;
$sidebar-spacing-small: 18px;
$sidebar-border-color: rgba(123, 117, 107, 0.5);

.Sidebar {
  background-color: #FEFEFC;
  flex: 1 1 auto;
  float: left;
  height: 100vh;
  max-width: 550px;
  width: 34%;
  border-right: 1px solid #666;
}

.Sidebar-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 $sidebar-spacing;
}

.Sidebar-logos {
  background-color: rgba(255, 255, 255, 0.5);
  height: 95px;
  padding-left: $sidebar-spacing;
}

.Sidebar-logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
}

.Sidebar-logo:first-of-type {
  margin-left: 0;
}

.Sidebar-header {
  // border-bottom: 1px solid $sidebar-border-color;
  margin: $sidebar-spacing 0;
  // padding-bottom: $sidebar-spacing;
}

// .Sidebar-header-organization {
//   color: $purple;
//   font-size: 45px;
//   font-weight: normal;
//   line-height: 45px;
//   text-align: center;
// }

// .Sidebar-header-project {
//   color: $purple;
//   font-size: 32px;
//   font-weight: 700;
//   // letter-spacing: 1.1px;
//   text-align: center;
//   // text-transform: uppercase;
// }

@media (max-height: 750px) {
  .Sidebar-main {
    padding: 0 $sidebar-spacing-small;
  }

  .Sidebar-header {
    margin: $sidebar-spacing-small 0;
    // padding-bottom: $sidebar-spacing-small;
  }

  // .Sidebar-header-organization {
  //   font-size: 20px;
  //   line-height: 28px;
  // }

  // .Sidebar-header-project {
  //   font-size: 12px;
  //   line-height: 18px;
  // }
}

// @media (max-width: 1450px) {
//   .Sidebar-header-organization {
//     font-size: 36px;
//     line-height: 36px;
//   }

//   .Sidebar-header-project {
//     font-size: 22px;
//   }
// }

@media (max-width: 1200px) {
  .Sidebar-main {
    padding: 0 $sidebar-spacing-small;
  }

  .Sidebar-header {
    margin: $sidebar-spacing-small 0;
    // padding-bottom: $sidebar-spacing-small;
  }

  // .Sidebar-header-organization {
  //   font-size: 32px;
  //   line-height: 32px;
  // }

  // .Sidebar-header-project {
  //   font-size: 23px;
  // }
}

@media (max-width: 1000px) {
  .Sidebar {
    width: 50%;
  }

  // .Sidebar-header-organization {
  //   font-size: 37px;
  //   line-height: 37px;
  // }

  // .Sidebar-header-project {
  //   font-size: 25px;
  // }
}

// @media (max-width: 800px) {

//   .Sidebar-header-organization {
//     font-size: 31px;
//     line-height: 31px;
//   }

//   .Sidebar-header-project {
//     font-size: 21px;
//   }
// }